@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root{
    --title_color: #489AFE;
    --text_color: #636363;
    --primary-button_color: #318DFE;
    --primary-button_color-hover: #246DC8;
    --secondary-button_color: rgba(49, 141, 254, 0.1);
    --terciary-button_color: #318DFE;
    --border-radius_buttons: 8px;
    --container-width: 1080px;
    --footer-color: #002A3F;
    --max-width-mobile: 620px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Inter', sans-serif;
    background: radial-gradient(35.31% 292.9% at 50% 50%, #FBFBFB 0%, #F7F7F7 100%);
}


#mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 115px;
    z-index: 1000;
    transition: height 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
  }
  
  /* Añade esta clase cuando se haga scroll */
  .header-scrolled {
    height: 60px !important;
    background-color: #FFFFFF;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  


header{
    background-color: white;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
}

h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
}

h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

.navbar_container{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_container>a>img{
    height: 80px;
}

.navbar_opciones{
    height: 115px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.navbar_container .navbar_item{
    text-decoration: none;
    color: #202020;
    font-size: 16px;
}

.navbar_container-page .navbar_item{
    text-decoration: none;
    color: #303030;
    font-size: 16px;
}


.navbar_active{
    font-weight: 600;
}

.btn{
    padding: 8px 16px;
    max-height: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
    width: min-content;
}


.btn-form{
    padding: 8px 16px;
    max-height: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    gap: 8px;
    justify-content: center;
    width: min-content;
    background: #00A2C8;
    border: none;
    color: white;
}

.btn p{
    width: max-content;
}


.btn-contacto{
    background-color: #1DC702;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 20px;
}

.btn-contacto img{
    width: 24px;
}

.btn-secondary{
    border: 1px solid white;
    color: white;
}

.btn-terciary{
    border: 1px solid #303030;
    color: #303030;
    width: fit-content;
}


.banner_container-page{
    width: 100%;
    max-width: 1300px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 150px;
    padding: 80px;
    border-radius: 20px;
}

#banner_cliente_traduccion{
    background-image: url(img/banner_traduccion.jpg);
    background-size: cover;
}

#banner_interpretacion{
    background-image: url(img/banner_interpretacion.png);
    background-size: cover; 
}

#banner_conferencias{
    background-image: url(img/banner_conferencias.jpg);
    background-size: cover; 
}

.banner_content{
    width: 710px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.banner_text h1, .banner_text p{
    color: white;
}

.banner_text p{
    font-size: 20px;
    line-height: 30px;
}

.main_container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1250px;
    background-color: white;
    padding: 80px;
    border-radius: 8px;
    align-items: center;
}

.internalizacion_container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.internalizacion_titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    width: 860px;
    text-align: center;
}


.internalizacion_container>.cards_container{
    display: flex;
    gap: 40px;
}

.internalizacion_titulo>img{
    width: 75px;
}

.internalizacion_container .card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.internalizacion_container .card>img{
    width: 250px;
}

.internalizacion_titulo>p{
    width: 640px;
    text-align: center;
}

.divider-vertical{
    height: 345px;
    width: 1px;
    background-color: #D6D6D6;
}

.equipo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
    padding: 80px;
    background: radial-gradient(35.31% 292.9% at 50% 50%, #FBFBFB 0%, #F7F7F7 100%);
}

.nuestro-equipo{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 1030px;

}

.nuestro-equipo img{
    width: 480px;
}

.nuestro-equipo>.textos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.equipo_container .sello{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 660px;
}

.sello_texto{
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.equipo_container .sello>img{
    width: 75px;
}

.equipo_container .sello>p{
    font-size: 12px;
}

footer{
    width: 100%;
    height: 290px;
    background-color: #002A3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer img{
    width: 310px;
}

footer p{
    color: white;
    font-size: 18px;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer_list{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 80px;
}


.form_container{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    gap: 40px;
    width: 1250px;
    padding: 80px;
}

form, .contactos_container, .acceso-directo_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form{
    width: 340px;
}

form input{
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    color: #CFCFCF;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height:12px;
}

form textarea{
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    color: #CFCFCF;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
}


form>.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactos_container>.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactos_container>.content>a>img{
    width: 26px;
    
}

.contactos_container>.content>a{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #303030;
    align-items: center;
}

.acceso-directo_container>.content{
    width: 210px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.acceso-directo_container>.content .btn{
    width: 100% !important;
}

.somos_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 100%;
    height: 260px;
}

.somos_container img{
    width: 250px;
}

.somos_container p{
    font-size: 20px;
}

.mapa_container{
    width: 1250px;
    background-color: white;
    padding: 80px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    gap: 30px;
}

.mapa_container>img{
    width: 720px;
}

.servicio-confidencialidad{
    display: flex;
    gap: 10px;
    width: 620px;
    align-items: flex-start;
}

.servicio-confidencialidad>img{
    width: 130px;
}

.documentos_container{
    display: flex;
    gap: 60px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.documentos_container>.textos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.documentos_container ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.documentos_container>img{
    width: 400px;
    border-radius: 10px;
}

.documentos_container h3{
    font-weight: 700;
    font-size: 20px;
}

.servicio-confidencialidad{
    display: flex;
    gap: 20px;
    width: 800px;
    align-items: center;
}

.servicio-confidencialidad>img{
    width: 190px;
}

.divider-horizontal{
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
}

.otros-servicios_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.otros-servicios_container>.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.otros-servicios_container>.titulo>img{
    width: 70px;
}

.otros-servicios_container>.titulo>h2{
    font-weight: 700;
    font-size: 30px;
}

.otros-servicios_container>.cards{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.otros-servicios_container>.cards>.card{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 300px;
    border-radius: 20px;
    background-color: #F7F7F7;
}

.otros-servicios_container>.cards>.card>img{
    width: 100%;
}

.otros-servicios_container>.cards>.card>.texto{
    padding: 30px;
}

.otros-servicios_container>.cards>.card p{
    text-align: center;
}

.banner_bajada{
    width: 100%;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.card-equipamiento_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    width: 900px;

    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.card-equipamiento_container>img{
    width: 75px;
}

.card-equipamiento_container>.card_textos{
    display: flex;
    gap: 20px;
}

.card-equipamiento_container>.card_textos>.divider-card{
    height: auto;
    width: 1px;
    background-color: #D9D9D9;
}

.card-equipamiento_container ul{
    padding-left: 30px;
}

.card-equipamiento_container>.card_textos>.texto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-equipamiento_container>.card_textos .parrafo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
}

.lenguajes_container{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 80px;
}

.lenguajes_container>.textos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lenguajes_container>.textos>.lista{
    display: flex;
    gap: 20px;
}

.lenguajes_container>.textos>.lista{
    display: flex;
    gap: 20px;
}

.lenguajes_container>.textos>.lista>ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.lenguajes_container>img{
    width: 480px;
}

.lenguajes_container h3{
    font-weight: 700;
    font-size: 20px;
}

.company_container{
    width: 1250px;
    background-color: white;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 30px;
}

.company_container>.cards_container{
    display: flex;
    gap: 20px;
}

.company_container>.cards_container>.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    text-align: center;
}


.company_container>.cards_container img{
    width: 220px;
}

.company_container>img{
    width: 75px;
}

.company_container>.iconos_companies{
    display: flex;
    gap: 40px;
    width: 100%;
    align-items: center;
}

.company_container>.iconos_companies>.company{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    text-align: center;
}

.company_container>.iconos_companies>.company>img{
    width: 70px;
}

.company_container>.iconos_companies>.company>h4{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.company_container>.iconos_companies>.company>p{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}


.company_container>.iconos_companies>.divider{
    width: 1px;
    height: 130px;
    background-color: #D9D9D9;
}



@media screen and (max-width: 960px) {
    footer, .footer_content{
        flex-direction: column;
        height: auto;
        position: initial !important;
    }

    footer{
        padding: 60px 30px;
        text-align: center;
        gap: 40px;
    }

    .footer_content{
        gap: 20px;
    }

    .footer_list{
        position: fixed;
        height: auto !important;
        position: initial;
        align-items: center;
        padding: 0;
    }


    h1{
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
    }
    
    .banner_text{
        gap: 5px;
    }

    .navbar_opciones{
        display: none;
    }
    .navbar_container{
        width: 100%;
    }
    
    .navbar_container>a>img{
        height: 60px;
    }

    .somos_container{
        text-align: center;
    }

    .form_container{
        flex-direction: column;
        width: 100%;
        max-width: var(--max-width-mobile);
        padding: 30px;
    }

    .contactos_container>.content>a{
        text-align: center;
        justify-content: center;
    }

    .form_container>.divider-vertical{
        display: none;
    }

    form{
        width: 100%;
    }

    .card-equipamiento_container{
        width: 100%;
    }

    .card-equipamiento_container>.card_textos{
        flex-direction: column;
    }

    .card-equipamiento_container>.card_textos>.divider-card{
        display: none;
    }

    .main_container{
        width: 100%;
        max-width: var(--max-width-mobile);
        padding: 15px;
    }

    .servicio-confidencialidad{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .servicio-confidencialidad>img{
        width: 90px;
    }

    .servicio-confidencialidad{
        font-size: 14px;
        line-height: 16px;
    }
    .documentos_container{
        flex-direction: column-reverse;
        gap: 15px;
    }

    .documentos_container>img{
        width: 100%;
    }

    .internalizacion_titulo{
        width: 100%;
    }

    .internalizacion_titulo>p{
        width: 100%;
    }

    .internalizacion_titulo>h2{
        font-size: 24px;
        line-height: 26px;
    }

    .banner_container-page{
        width: 95%;
        padding: 20px;
        align-items: flex-end;
        margin-top: 80px;
    }

    .banner_content{
        width: 100%;
    }
    .banner_text p, .banner_bajada{
        font-size: 15px;
        line-height: 18px;
    }
    h1{
        font-size: 24px;
        line-height: 26px;
    }

    .navbar_container{
        height: 60px;
    }

    .acceso-directo_container>.content{
        width: 100%;
    }

    form, .contactos_container, .acceso-directo_container{
        text-align: center;
    }
}
