@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root{
    --title_color: #489AFE;
    --text_color: #636363;
    --primary-button_color: #318DFE;
    --primary-button_color-hover: #246DC8;
    --secondary-button_color: rgba(49, 141, 254, 0.1);
    --terciary-button_color: #318DFE;
    --border-radius_buttons: 8px;
    --container-width: 1080px;
    --footer-color: #002A3F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Inter', sans-serif;
    gap: 40px;
}

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
}

h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
}

h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

.navbar_container{
    width: 1300px;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_container>img{
    height: 80px;
}

.navbar_opciones{
    width: 1300px;
    height: 115px;
    display: flex;
    gap: 60px;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
}

.navbar_container-page{
    width: 1300px;
    height: 115px;
    display: flex;
    gap: 60px;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;

}

.navbar_container .navbar_item{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar_container-page .navbar_item{
    text-decoration: none;
    color: #303030;
    font-size: 16px;
}


.navbar_active{
    font-weight: 600;
}

.btn{
    padding: 8px 16px;
    max-height: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
    width: min-content;
}

.btn p{
    width: max-content;
}

.btn-contacto{
    background-color: #1DC702;
    color: white;
}

.btn-secondary{
    border: 1px solid white;
    color: white;
}

.btn-terciary{
    border: 1px solid #303030;
    color: #303030;
    width: fit-content;
}

.banner_container{
    width: 1300px;
    height: 670px;
    background-image: url(img/banner_principal.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 80px;
    border-radius: 0px 0px 50px 50px;
}

.banner_container-page{
    width: 1300px;
    height: 3000px;
    background-color: #202020;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 120px;
    padding: 80px;
    border-radius: 0px 0px 50px 50px;
}

.banner_content{
    width: 710px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.banner_text h1, .banner_text p{
    color: white;
}

.banner_text p{
    font-size: 20px;
    line-height: 30px;
}

.internalizacion_container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px;
    align-items: center;
}

.internalizacion_titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    max-width: 1000px;
}

.section_titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.internalizacion_container>.cards_container{
    display: flex;
    gap: 40px;
}

.internalizacion_container .card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.internalizacion_titulo>img{
    width: 75px;
}

.internalizacion_container .card>img{
    width: 250px;
}

.divider-vertical{
    height: 345px;
    width: 1px;
    background-color: #D6D6D6;
}

.equipo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
    padding: 80px;
    background: radial-gradient(35.31% 292.9% at 50% 50%, #FBFBFB 0%, #F7F7F7 100%);
}

.nuestro-equipo{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 1030px;

}

.nuestro-equipo img{
    width: 480px;
}

.nuestro-equipo>.textos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.equipo_container .sello{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 460px;
}

.equipo_container .sello>img{
    width: 75px;
}

.equipo_container .sello>p{
    font-size: 12px;
}

footer{
    width: 100%;
    height: 290px;
    background-color: #002A3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer img{
    width: 310px;
}

footer p{
    color: white;
    font-size: 18px;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer_list{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 80px;
}

.clientes_background{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientes_container{
    width: 1200px;
    border: 1px solid #D6D6D6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.banner_cliente{
    width: 845px;
    height: 400px;
    background-color: #636363;
    border-radius: 20px;
}

.clientes_container>p{
    max-width: 700px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.card-comentario_container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 70px 30px 70px;
    width: 845px;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
}

.card-comentario_container .comentario{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.card-comentario_container .persona{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
}

.arrow_left{
    width: 50px;
    position: absolute;
    left: -25px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.arrow_right{
    width: 50px;
    position: absolute;
    right: -25px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.comentario_footer{
    font-weight: 400;
    font-size: 5px;
    line-height: 20px;
    text-align: center;
    color: #ADADAD;

}

.clientes_container>img{
    width: 75px;
}


.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    gap: 50px;
}

form, .contactos_container, .acceso-directo_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form{
    width: 340px;
}

form input{
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    color: #CFCFCF;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height:12px;
}

form textarea{
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    color: #CFCFCF;
    height: 246px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
}

.form_datos{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 400px;
}


form>.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end ;
}

form>.content>input, form>.content>textarea{
    width: 100%;
}

.contactos_container>.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactos_container>.content>a>img{
    width: 26px;
    
}

.contactos_container>.content>a{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #303030;
    align-items: center;
}

.acceso-directo_container>.content{
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.acceso-directo_container>.content .btn{
    width: 100% !important;
}

.btn-form{
    padding: 8px 16px;
    max-height: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    gap: 8px;
    justify-content: center;
    width: min-content;
    background: #00A2C8;
    border: none;
    color: white;
}


.contacto_container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items:  center;
    padding: 60px;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.contacto_container>.puntos>img{
    width: 250px;
}

.contacto_container>.puntos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.internalizacion_container>.cards_container>.card>ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    width: 250px;
}


.internalizacion_container>.cards_container>.card>img{
    border-radius: 20px;
}