@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root{
    --title_color: #489AFE;
    --text_color: #636363;
    --primary-button_color: #318DFE;
    --primary-button_color-hover: #246DC8;
    --secondary-button_color: rgba(49, 141, 254, 0.1);
    --terciary-button_color: #318DFE;
    --border-radius_buttons: 8px;
    --container-width: 1080px;
    --footer-color: #002A3F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Inter', sans-serif;
}

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
}

h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
}

h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

.navbar_container{
    width: 1300px;
    height: 115px;
    display: flex;
    gap: 60px;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;

}

.navbar_item{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar_active{
    font-weight: 600;
}

.btn{
    padding: 8px 16px;
    max-height: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
    width: min-content;
}

.btn p{
    width: max-content;
}

.btn-contacto{
    background-color: #1DC702;
    color: white;
}

.btn-secondary{
    border: 1px solid white;
    color: white;
}

.btn-terciary{
    border: 1px solid #303030;
    color: #303030;
    width: fit-content;
}

.banner_container{
    width: 1300px;
    height: 670px;
    background-color: #202020;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 80px;
    border-radius: 0px 0px 50px 50px;
}

.banner_content{
    width: 710px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.banner_text h1, .banner_text p{
    color: white;
}

.banner_text p{
    font-size: 20px;
    line-height: 30px;
}

.internalizacion_container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px;
    align-items: center;
}

.internalizacion_titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


.internalizacion_container>.cards_container{
    display: flex;
    gap: 40px;
}

.internalizacion_container .card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.internalizacion_container .card>img{
    width: 250px;
}

.divider-vertical{
    height: 345px;
    width: 1px;
    background-color: #D6D6D6;
}

.equipo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
    padding: 80px;
    background: radial-gradient(35.31% 292.9% at 50% 50%, #FBFBFB 0%, #F7F7F7 100%);
}

.nuestro-equipo{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 1030px;

}

.nuestro-equipo img{
    width: 480px;
}

.nuestro-equipo>.textos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.equipo_container .sello{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 460px;
}

.equipo_container .sello>img{
    width: 75px;
}

.equipo_container .sello>p{
    font-size: 12px;
}

footer{
    width: 100%;
    height: 290px;
    background-color: #002A3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer img{
    width: 310px;
}

footer p{
    color: white;
    font-size: 18px;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer_list{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 80px;
}

