@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root{
    --title_color: #489AFE;
    --text_color: #636363;
    --primary-button_color: #318DFE;
    --primary-button_color-hover: #246DC8;
    --secondary-button_color: rgba(49, 141, 254, 0.1);
    --terciary-button_color: #318DFE;
    --border-radius_buttons: 8px;
    --container-width: 1080px;
    --footer-color: #002A3F;
    --max-width-mobile: 620px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Inter', sans-serif;
    gap: 40px;
}

h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
}

h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}


.clientes{
    width: 100%;
    max-width: 880px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.clientes>p{
    background: #f0f9fb;
    border-radius: 20px;
    padding: 4px 12px;
    text-align: center;
    border: 1px solid #a6daff;
}


.btn{
    padding: 8px 16px;
    max-height: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
    width: min-content;
}

.btn p{
    width: max-content;
}

.btn-contacto{
    background-color: #1DC702;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 20px;
}

.btn-contacto img{
    width: 24px;
}

.btn-secondary{
    border: 1px solid white;
    color: white;
}

.btn-terciary{
    border: 1px solid #303030;
    color: #303030;
    width: fit-content;
}

.banner_container{
    width: 100%;
    max-width: 1300px;
    height: 670px;
    background-image: url(img/banner_principal.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0px 0px 50px 50px;
    position: relative;
    overflow: hidden;
}

.banner_container video{
    width: 100%;
    position: absolute;
    top: 0;
    margin: auto;
    z-index: 0;
}


.banner_content{
    width: 725px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    z-index: 1;
    padding-left: 80px;
}

.banner_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.banner_text h1, .banner_text p{
    color: white;
}

.banner_text p{
    font-size: 20px;
    line-height: 30px;
}

.internalizacion_container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px;
    align-items: center;
}

.internalizacion_titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    max-width: 1000px;
}

.section_titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.servicios-title{
    font-size: 22px;
}

.internalizacion_container>.cards_container{
    display: flex;
    gap: 40px;
}

.internalizacion_container .card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.internalizacion_titulo>img{
    width: 75px;
}

.internalizacion_container .card>img{
    width: 250px;
}

.divider-vertical{
    height: 345px;
    width: 1px;
    background-color: #D6D6D6;
}

.equipo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
    padding: 80px;
    background: radial-gradient(35.31% 292.9% at 50% 50%, #FBFBFB 0%, #F7F7F7 100%);
}

.nuestro-equipo{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 1030px;

}

.nuestro-equipo img{
    width: 480px;
}

.nuestro-equipo>.textos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.equipo_container .sello{
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 660px;
}

.equipo_container .sello>img{
    width: 75px;
}

.equipo_container .sello>p{
    font-size: 12px;
}

.sello_texto{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row_redes-sociales{
    display: flex;
    gap: 8px;
}


footer{
    width: 100%;
    height: 290px;
    background-color: #002A3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer img{
    width: 310px;
}

footer p{
    color: white;
    font-size: 18px;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer_list{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 80px;
}

.clientes_background{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientes_container{
    width: 1200px;
    border: 1px solid #D6D6D6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.logos-clientes{
    width: 100%;
    max-width: 880px;
}

.clientes_container>p{
    max-width: 700px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.card-comentario_container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 70px 30px 70px;
    width: 845px;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
}

.card-comentario_container .comentario{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.card-comentario_container .persona{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
}

.arrow_left{
    width: 50px;
    position: absolute;
    left: -25px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.arrow_right{
    width: 50px;
    position: absolute;
    right: -25px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.comentario_footer{
    font-weight: 400;
    font-size: 5px;
    line-height: 20px;
    text-align: center;
    color: #ADADAD;

}

.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    gap: 50px;
}

form, .contactos_container, .acceso-directo_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form{
    width: 340px;
}

form input{
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    color: #CFCFCF;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height:12px;
}

form textarea{
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    color: #CFCFCF;
    height: 246px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
}

.form_datos{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 400px;
    align-items: center;
}

.contactos_container, .contactos_container>.container, .row_redes-sociales, .row_redes-sociales a, .acceso-directo_container{
    align-items: center;
    justify-content: center;
    text-align: center;
}

form>.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end ;
}

form>.content>input, form>.content>textarea{
    width: 100%;
}

.contactos_container>.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactos_container>.content>a>img{
    width: 26px;
    
}

.contactos_container>.content>a{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #303030;
    align-items: center;
    justify-content: center;
}

.acceso-directo_container>.content{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.acceso-directo_container>.content .btn{
    width: 100% !important;
}

.btn-form{
    padding: 8px 16px;
    max-height: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    gap: 8px;
    justify-content: center;
    width: min-content;
    background: #00A2C8;
    border: none;
    color: white;
}


.contacto_container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items:  center;
    padding: 60px;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.contacto_container>.puntos>img{
    width: 250px;
}

.contacto_container>.puntos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.internalizacion_container>.cards_container>.card>ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    width: 250px;
}


.internalizacion_container>.cards_container>.card>img{
    border-radius: 20px;
}

.arrow_left, .arrow_right {
      cursor: pointer;
    }

@media screen and (max-width: 980px) {
    footer, .footer_content{
        flex-direction: column;
        height: auto;
        position: initial !important;
    }

    footer{
        padding: 60px 30px;
        text-align: center;
        gap: 40px;
    }

    .footer_content{
        gap: 20px;
    }

    .footer_list{
        position: fixed;
        height: auto !important;
        position: initial;
        align-items: center;
        padding: 0;
    }


    .contacto_container, .clientes_background{
        box-shadow: none;
        padding: 0;
    }

    .form_container{
        flex-direction: column;
        width: 100%;
    }

    .contacto_container{
        padding: 30px;
        width: 100%;
        max-width: var(--max-width-mobile);
    }

    form{
        width: 100%;
        max-width: var(--max-width-mobile);
    }

    .form_container>.divider-vertical{
        display: none;
    }

    .form_datos{
        width: 100%;
    }

    .form_datos .content{
        width: 100%;
    }

    .form_datos .content a{
        height: 48px;
    }

    .puntos, .acceso-directo_container{
        text-align: center;
    }
    .clientes_container, .section_titulo, .card-comentario_container
    {
        width: 100%;
        max-width: var(--max-width-mobile);
    }
    .banner_cliente{
        background-image: url(img/logos_mobile.png);
        background-size: contain;
        width: 100%;
    }

    .clientes_container{
        padding: 20px;
        border: none;
    }

    .clientes_container .section_titulo{
        text-align: center;
    }

    .card-comentario_container{
        padding: 30px;
        gap: 20px;
        width: 98%;
    }

    .card-comentario_container>img{
        width: 40px;
    }

    .card-comentario_container .comentario{
        font-size: 15px;
        line-height: 18px;
    }

    .card-comentario_container .persona{
        font-size: 12px;
        line-height: 15px;
    }

    .card-comentario_container .arrow_left{
        left: -20px;
    }

    .card-comentario_container .arrow_right{
        right: -20px;
    }

    .form_container h2, .form_container h3{
        text-align: center;
    }

    .equipo_container{
        padding: 30px 15px;
    }

    .equipo_container .nuestro-equipo{
        flex-direction: column;
        width: 100%;
        max-width: var(--max-width-mobile);
    }

    .equipo_container .nuestro-equipo img{
        width: 90%;
    }

    .equipo_container .sello{
        width: 100%;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .equipo_container .textos{
        align-items: center;
        text-align: center;
    }

    .internalizacion_container{
        padding: 15px;
    }

    .internalizacion_container .cards_container{
        flex-direction: column;
    }

    .internalizacion_container .divider-vertical{
        display: none;
    }

    .internalizacion_titulo h2{
        font-size: 25px;
        line-height: 30px;
    }

    .internalizacion_container>.cards_container{
        gap: 60px;
    }

    .cards_container, .card>img, .card>ul{
        width: 100% !important;
        max-width: 400px;
    }

    .banner_container{
        width: 100%;
        height: 500px;
        border-radius: 0px;
    }

    .banner_container video{
        height: 100%;
        width: auto;
    }

    .banner_content{
        width: 100%;
        padding: 0px 15px;
    }

    .banner_text p{
        font-size: 16px;
        line-height: 20px;
    }

    h1{
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
    }
    
    .banner_text{
        gap: 10px;
    }

    .navbar_opciones{
        display: none;
    }
    .navbar_container{
        width: 100%;
    }

    .navbar_container>img{
        height: 60px;
    }

}