
#mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 115px;
    z-index: 1000;
    background-color: white;
    transition: height 0.3s ease, background-color 0.3s ease;
  }

  #mainHeader-index {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 115px;
    z-index: 1000;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  
  /* Añade esta clase cuando se haga scroll */
  .header-scrolled {
    height: 60px !important;
    background-color: #202020aa;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 10;
}


.navbar_container{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_container>img, .navbar_container>a>img{
    height: 60px;
}

.navbar_opciones{
    height: 115px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.navbar_container-page{
    width: 1300px;
    height: 115px;
    display: flex;
    gap: 60px;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;

}

.navbar_container .navbar_item-index{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar_container .navbar_item{
    text-decoration: none;
    color: #202020;
    font-size: 16px;
}

.navbar_container-page .navbar_item{
    text-decoration: none;
    color: #303030;
    font-size: 16px;
}


.navbar_active{
    font-weight: 600;
}

.hamburger-index {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-right: 10px;
    position: relative;
}

.hamburger-index span {
    width: 100%;
    height: 3px;
    background-color: #fafafa;
    display: block;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-right: 10px;
    position: relative;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background-color: #202020;
    display: block;
}

.hamburger-index span {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
/* Ocultar la línea del medio cuando se convierta en "X" */
.hamburger-index.x span:nth-child(2) {
    opacity: 0;
    transform: translateY(9px);  /* Agregado para mejorar la transición */
}

/* Rotar la línea de arriba y la línea de abajo para formar la "X" */
.hamburger-index.x span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger-index.x span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.hamburger span {
    width: 100%;
    height: 3px;
    background-color: #202020;
    display: block;
}

.hamburger span {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
/* Ocultar la línea del medio cuando se convierta en "X" */
.hamburger.x span:nth-child(2) {
    opacity: 0;
    transform: translateY(9px);  /* Agregado para mejorar la transición */
}

/* Rotar la línea de arriba y la línea de abajo para formar la "X" */
.hamburger.x span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.x span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}


@media (max-width: 980px) {
    .hamburger {
        display: flex;
    }

    .hamburger-index {
        display: flex;
    }

    .navbar_opciones {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #202020;
        z-index: 10;
    }

    .navbar_item {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 15px;
        box-sizing: border-box;
    }

    .navbar_opciones.show {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    #mainHeader .header-open{
        background-color: #fff !important;
    }

    #mainHeader .navbar_opciones{
        background-color: white;
    }

    #mainHeader-index>.navbar-black{
        background-color: #202020 !important;
    }

    #mainHeader-index .navbar_opciones{
        background-color: #202020;
    }
}
